body {
  font-family: "Work Sans", sans-serif;
}

header {
  background-image: url("../images/background_creabox.png") !important;
}

header div[class*='container'] {
  width: 75%;
}

header nav a {
  font-size: 14px;
}

header .sign-in {
  border: 1px solid orangered;
  border-radius: 50px;
  padding: 0px 8px;
  margin-left: 10px;
}

header .sign-in a {
  color: orangered !important;
}

header .row button {
  background-color: orange;
  color: white;
  border-radius: 50px;
}

@media (max-width: 375px) {
  header .creabox-logo {
    width: 100px;
  }
  header div[class*='container'] {
    width: 100%;
  }
}

main .first {
  background-color: whitesmoke;
}

main .first .clip {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: orangered;
  width: 70%;
  height: 250%;
  border-radius: 100px;
}

main .first .my-cards {
  width: 75%;
  font-size: 12px;
}

main .first .my-cards div[class*='col-md-3'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .first .my-cards h4 {
  font-size: 15px;
  font-weight: bold;
}

main .first .my-cards .card {
  border-radius: 20px;
  border: 0px;
  -webkit-box-shadow: 4px 4px 11px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 11px -7px rgba(0, 0, 0, 0.75);
  width: 250px;
}

@media (max-width: 768px) {
  main .first .my-cards .card {
    margin-bottom: 20px;
  }
}

@media (max-width: 375px) {
  main .first .my-cards {
    width: 100%;
  }
}

main .second .row button {
  background-color: orange;
  color: white;
  border-radius: 50px;
}

@media (max-width: 768px) {
  main .second div[class*='col-md-4'] {
    margin: 10px 0px;
    text-align: center;
  }
}

main .third {
  background-color: #f9f9f9;
}

@media (max-width: 768px) {
  main .third .about {
    text-align: center;
  }
  main .third .inner-cols div[class*='col-md-4'] {
    width: 30%;
  }
}

main .fourth .img-quo {
  position: relative;
  top: 18px;
}

main .fourth .para-quo {
  width: 90%;
}

main .fifth {
  background-color: #6455c2;
}

main .sixth {
  width: 75%;
}

@media (max-width: 375px) {
  main .sixth {
    width: 100%;
  }
}

main .sixth .card {
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 11px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 11px -7px rgba(0, 0, 0, 0.75);
}

main .sixth .card img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

main .sixth .carousel-item .my-display {
  display: inline-block;
  width: 300px;
}

main .sixth .carousel-indicators {
  position: relative;
}

main .sixth .carousel-indicators li {
  border: 2px solid tomato;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 100%;
}

main .sixth .carousel-indicators li[class*="active"] {
  background-color: tomato;
}

main .seventh {
  background-color: #fef5ed;
  border-radius: 20px;
}

main .seventh h4 {
  line-height: 30px;
}

main .seventh input {
  border-radius: 50px;
  border: 0px;
  padding: 10px 15px;
  width: 75%;
}

main .seventh .row button {
  background-color: orange;
  color: white;
  border-radius: 50px;
  border: 0px;
  padding: 5px 10px;
  position: relative;
  left: -90px;
}

main .eight {
  font-size: 15px;
}

main .eight h5 {
  font-weight: bold;
  margin-bottom: 25px;
}

main .eight ul {
  list-style-type: none;
  padding: 0px;
}

main .eight ul li {
  text-decoration: none;
  margin-bottom: 10px;
}

main .eight ul li a {
  color: inherit;
}

footer {
  background-color: #6455c2;
  color: white;
}

footer .clip-wrap {
  position: relative;
  height: 5vmin;
  background: white;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

footer .foo-clip {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background: #6455c2;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

footer .brand-icons img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

#button-top {
  display: none;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: orange;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 200px;
  right: 30px;
  -webkit-transition: background-color .3s,  opacity .5s, visibility .5s;
  transition: background-color .3s,  opacity .5s, visibility .5s;
  z-index: 1000;
}

#button-top .top-arrow {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

@media (max-width: 375px) {
  #button-top {
    width: 40px;
    height: 40px;
    right: 5px;
  }
  #button-top .top-arrow {
    font-size: 1em;
    font-weight: bold;
    line-height: 35px;
  }
}

#button-top:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #333;
}

#button-top:active {
  background-color: #555;
}

#button-top.show {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */