
$font: 'Work Sans', sans-serif;

$desktop: 840px;
$ipad: 768px;
$mobile: 375px;

@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

@mixin ipad {
    @media (max-width: #{$ipad}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

body {
    font-family: $font;
}

// Header
header {
    div[class*='container'] {
        width: 75%;
    }

    background-image: url('../images/background_creabox.png') !important;
    // background-size: cover;
    // height: 80vh;
    nav a {
        font-size: 14px;
    }

    .sign-in {
        border: 1px solid orangered;
        border-radius: 50px;
        padding: 0px 8px;
        margin-left: 10px;
        a {
            color: orangered !important;
        }

        &:hover {
            background-color:#333;
            a {
                color: white !important;
            }
        }
    }

    .row button {
        background-color: orange;
        color: white;
        border-radius: 50px;

        &:hover {
            background-color: #333;
            color: white;
        }
    }
    @include mobile(){
        .creabox-logo {
            width: 100px;
        }
        div[class*='container'] {
            width: 100%;
        }
    }
}

// main content
main {
    // first section
    .first {
        background-color: whitesmoke;
        .clip {
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            background-color: orangered;
            width: 70%;
            height: 250%;
            border-radius: 100px;
        }
        .my-cards {
            width: 75%;
            // height: 65%;
            font-size: 12px;
            
            div[class*='col-md-3'] {
                display: flex;
                justify-content: center;
            }
            h4 {
                font-size: 15px;
                font-weight: bold;
            }

            .card {
                border-radius: 20px;
                border: 0px;
                -webkit-box-shadow: 4px 4px 11px -7px rgba(0,0,0,0.75);
                -moz-box-shadow: 4px 4px 11px -7px rgba(0,0,0,0.75);
                box-shadow: 4px 4px 11px -7px rgba(0,0,0,0.75);
                width: 250px;
                
            }
            @include ipad(){
                .card {

                    margin-bottom: 20px;
                }
            }
            @include mobile(){
                width: 100%;
            }
        }
    }

    // second section
    .second {
        .row button {
            background-color: orange;
            color: white;
            border-radius: 50px;

            &:hover {
                background-color: #333;
            }
        }


        @include ipad(){
            div[class*='col-md-4']{
                margin: 10px 0px;
                text-align: center;
            }

        }
        @include mobile(){
        }
    }

    // third section
    .third {
        background-color: #f9f9f9;
        @include ipad(){
            .about {
                text-align: center;
            }

            .inner-cols div[class*='col-md-4']{
                width: 30%;
            }
        }
    }
    
    // fourth section
    .fourth {
        .img-quo {
            position: relative;
            top: 18px;
        }

        .para-quo {
            width: 90%;
        }
        
    }

    // fifth section
    .fifth {
        background-color: #6455c2;

        .customers {
            
        }
    }

    // sixth section
    .sixth {
        width: 75%;

        @include mobile(){
            width: 100%;
        }
        .card {
            border-radius: 20px;
            -webkit-box-shadow: 4px 4px 11px -7px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 4px 11px -7px rgba(0,0,0,0.75);
            box-shadow: 4px 4px 11px -7px rgba(0,0,0,0.75);
            img {
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            }
        }
        .carousel-item .my-display {
            display: inline-block;
            width: 300px;
            // flex-direction: row;
            // flex: 1 0 auto;

            // background-color: blue !important;
        }
        .carousel-indicators {
            position: relative;
            
            li {
                border: 2px solid tomato;
                width: 15px;
                height: 15px;
                margin-right: 10px;
                border-radius: 100%;
                
            }
            li[class*="active"] {
                background-color: tomato;

            }
        }
    }

    // seventh section
    .seventh {
        width: 75%;
        background-color: #fef5ed;
        border-radius: 20px;
        h4 {
            line-height: 30px;
        }

        input {
            border-radius: 50px;
            border: 0px;
            padding: 10px 15px;
            width: 75%;
            
        }
        .row button {
            background-color: orange;
            color: white;
            border-radius: 50px;
            border: 0px;
            padding: 5px 10px;
            position: relative;
            left: -90px;

            &:hover {
                background-color:#333;
            }
        }
        @include mobile() {
            width: 90%;

            input {
                width: 100%;
                display: inline;
            }

            .row button {
                // left: unset;
                position: unset;
            }
        }
    }

    // eight section
    .eight {
        font-size: 15px;
        h5 {
            font-weight: bold;
            margin-bottom: 25px;
        }
        ul {
            list-style-type: none;
            padding: 0px;
            li {
                text-decoration: none;
                margin-bottom: 10px;
                a {
                    color: inherit;
                }
            }
        }

        @include ipad() {
            div[class='row']{
                text-align: center;
            }
        }
    }

}

// footer
footer {
    background-color:#6455c2;
    color: white;

    @include ipad() {
        text-align: center;
    }
    .clip-wrap {
        position: relative;
        // width: ;
        height: 5vmin;
        background: white;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        
        @include ipad(){
            width: 7vmin;
            height: 7vmin;
            margin-bottom: 5px;
        }

        @include mobile() {
           width: 10vmin; 
           height: 10vmin;
        }
    }

    .foo-clip {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        background: #6455c2;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        
    }
    
    .brand-icons img {
        filter: invert(1);

    }
}

// button-scroll-top
#button-top {
    display: none;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: orange;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 200px;
    right: 30px;
    transition: background-color .3s, 
        opacity .5s, visibility .5s;
    // opacity: 0;
    // visibility: hidden;
    z-index: 1000;

    // #button-top::after {
    .top-arrow {    
        // content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        line-height: 50px;
        color: #fff;
    }
    @include mobile(){
        width: 40px;
        height: 40px;
        right: 5px;

        .top-arrow {
            font-size: 1em;
            font-weight: bold;
            line-height: 35px;
        }
    }
    &:hover {
        text-decoration: none;
        cursor: pointer;
        background-color: #333;
    }
    &:active {
        background-color: #555;
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }

}