
$font: 'Work Sans', sans-serif;

body {
    font-family: $font;
}

// Header
header {
    background-image: url('../images/background_creabox.png') !important;
    // background-size: cover;
    // height: 80vh;
    nav a {
        font-size: 14px;
    }

    .sign-in {
        border: 1px solid orangered;
        border-radius: 50px;
        padding: 0px 8px;
        margin-left: 10px;
        a {
            color: orangered !important;
        }
    }

    .row button {
        background-color: orange;
        color: white;
        border-radius: 50px;
    }
}

// main content
main {
    // first section
    .first {
        background-color: whitesmoke;
        .clip {
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            background-color: orangered;
            width: 70%;
            height: 250%;
            border-radius: 100px;
        }
        .my-cards {
            width: 85%;
            // height: 65%;
            font-size: 12px;
    
            h4 {
                font-size: 15px;
                font-weight: bold;
            }
        }
        .card {
            border-radius: 20px;
            border: 0px;
            -webkit-box-shadow: 4px 4px 11px -7px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 4px 11px -7px rgba(0,0,0,0.75);
            box-shadow: 4px 4px 11px -7px rgba(0,0,0,0.75);
        }
        .card-body {
            // margin-top: 120px;
            // background-color: chartreuse;
        }
    }

    // second section
    .second {
        .row button {
            background-color: orange;
            color: white;
            border-radius: 50px;
        }
    }

    // third section
    .third {
        background-color: #f9f9f9;
    }
    
    // fourth section
    .fourth {
        .img-quo {
            position: relative;
            top: 18px;
        }

        .para-quo {
            width: 90%;
        }
        
    }

    // fifth section
    .fifth {
        background-color: #6455c2;

        .customers {
            
        }
    }

    // sixth section
    .sixth {
        .card {
            border-radius: 20px;
            -webkit-box-shadow: 4px 4px 11px -7px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 4px 11px -7px rgba(0,0,0,0.75);
            box-shadow: 4px 4px 11px -7px rgba(0,0,0,0.75);
            img {
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            }
        }
        .carousel-item .my-display {
            display: inline-block;
            width: 300px;
            // flex-direction: row;
            // flex: 1 0 auto;

            // background-color: blue !important;
        }
        .carousel-indicators {
            position: relative;

            // margin-top: 40px;
            // color: tomato;

            
            li {
                border: 2px solid tomato;
                width: 15px;
                height: 15px;
                margin-right: 10px;
                border-radius: 100%;
                
            }
            li[class*="active"] {
                background-color: tomato;

            }
        }
    }

    // seventh section
    .seventh {
        background-color: #fef5ed;
        border-radius: 20px;
        h4 {
            line-height: 30px;
        }

        input {
            border-radius: 50px;
            border: 0px;
            padding: 10px 15px;
            width: 75%;
            
        }
        .row button {
            background-color: orange;
            color: white;
            border-radius: 50px;
            border: 0px;
            padding: 5px 10px;
            position: relative;
            left: -90px;
        }
    }

    // eight section
    .eight {
        font-size: 15px;
        h5 {
            font-weight: bold;
            margin-bottom: 25px;
        }
        ul {
            list-style-type: none;
            padding: 0px;
            li {
                text-decoration: none;
                margin-bottom: 10px;
                a {
                    color: inherit;
                }
            }
        }
    }

}

// footer
footer {
    background-color:#6455c2;
    color: white;

    
    .clip-wrap {
        position: relative;
        // width: ;
        height: 5vmin;
        background: white;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        
    }

    .foo-clip {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        background: #6455c2;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        
    }
    
    .brand-icons img {
        filter: invert(1);

    }
}

#button-top {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button-top::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button-top:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button-top:active {
    background-color: #555;
  }
  #button-top.show {
    opacity: 1;
    visibility: visible;
  }